mat-toolbar{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    bottom: 0;
    position: fixed;
    height: 70px;
     background-color: white;
}
button{
    border: none;
    background-color: white;

    
}
