<mat-toolbar>
    <button routerLink="/home"><mat-icon id="icon1">home</mat-icon><br>
        <h5>Home</h5>
    </button>
    <button routerLink="/sleep"><mat-icon id="icon2">brightness_2</mat-icon><br>
        <h5>Sleep</h5>
    </button>
    <button routerLink="/mediation"><mat-icon id="icon3">spa</mat-icon><br>
        <h5>Mediation</h5>
    </button>
    <button routerLink="/relax"><mat-icon id="icon4">library_music</mat-icon><br>
        <h5>Rlax</h5>
    </button>
    <button><mat-icon routerLink="/settings" id="icon4">settings</mat-icon><br>
        <h5>Settings</h5>
    </button>

</mat-toolbar>