<div class="container">
  
    <div class="logo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSx6nGYpsIXE37UP5wG62eSBucCZocE6HNuA&usqp=CAU"
            alt="">
    </div>

    <div class="image">
        <img src="https://i.pinimg.com/564x/45/26/b2/4526b27d7ed0497d736abb987514a24d.jpg">
    </div>

    <h1>Breathings</h1>

    <p id="m">Mindful Breathing App</p>


    <button mat-fab extended routerLink="/formsignup">SIGN UP</button><br>

    <p>Already have an account? <a routerLink="/login"><b>LOG IN</b></a> </p>

</div>
