<app-navbar></app-navbar>

<div class="container1">
    <mat-toolbar-row >
        <mat-icon id="icon5">settings</mat-icon>
        <span id="st">Settings</span>
    </mat-toolbar-row> 
    <hr> 
        

      <mat-toolbar>
     
      
        <mat-toolbar-row>
        <mat-icon id="icon">account_circle</mat-icon>
          <span>Account</span>
          <span class="example-spacer"></span>
          <mat-icon>arrow_forward_ios</mat-icon>
        </mat-toolbar-row>
      
        <mat-toolbar-row>
            <mat-icon id="icon">subscriptions</mat-icon>
              <span>Manage Subscription</span>
              <span class="example-spacer"></span>
              <mat-icon>arrow_forward_ios</mat-icon>
         </mat-toolbar-row>

         <mat-toolbar-row>
            <mat-icon id="icon">date_range</mat-icon>
              <span>Reminder</span>
              <span class="example-spacer"></span>
              <mat-icon>arrow_forward_ios</mat-icon>
         </mat-toolbar-row>

         <mat-toolbar-row>
            <mat-icon id="icon">get_app</mat-icon>
              <span>Download over cellular</span>
              <span class="example-spacer"></span>
              <mat-slide-toggle color="primary"></mat-slide-toggle>
         </mat-toolbar-row>

         <mat-toolbar-row>
            <mat-icon id="icon">brightness_2</mat-icon>
              <span>Enable Dark Mode</span>
              <span class="example-spacer"></span>
              <mat-slide-toggle color="primary"></mat-slide-toggle>
         </mat-toolbar-row>


         <mat-toolbar-row>
            <mat-icon id="icon">not_interested</mat-icon>
              <span>Do not disturb</span>
              <span class="example-spacer"></span>
              <mat-slide-toggle color="primary"></mat-slide-toggle>
         </mat-toolbar-row>


         <mat-toolbar-row>
            <mat-icon id="icon">notifications</mat-icon>
              <span>Push notifications</span>
              <span class="example-spacer"></span>
              <mat-slide-toggle color="primary"></mat-slide-toggle>
         </mat-toolbar-row>


         <mat-toolbar-row>
            <mat-icon id="icon">headset_mic</mat-icon>
              <span>Support</span>
              <span class="example-spacer"></span>
              <mat-icon>arrow_forward_ios</mat-icon>
         </mat-toolbar-row>


         <mat-toolbar-row>
            <mat-icon id="icon">brightness_auto</mat-icon>
              <span>about</span>
              <span class="example-spacer"></span>
              <mat-icon>arrow_forward_ios</mat-icon>
         </mat-toolbar-row>


         <mat-toolbar-row>
            <mat-icon id="icon">https</mat-icon>
              <span>Privacy Policy</span>
              <span class="example-spacer"></span>
              <mat-icon>arrow_forward_ios</mat-icon>
        </mat-toolbar-row>

         <mat-toolbar-row>
            <mat-icon id="icon">gavel</mat-icon>
              <span>Terms & Condition</span>
              <span class="example-spacer"></span>
              <mat-icon>arrow_forward_ios</mat-icon>
         </mat-toolbar-row>
           
         
 </mat-toolbar><h5>Version 1.0</h5><br><br><br><br>

 </div>
 
<app-bottomheader></app-bottomheader>
